:root {
    --font-sans: Hanken Grotesk, Arial, sans-serif;
    --white: #fff;
    --black: #000;
    --navy950: #303b59;
    --navy200: #cac9ff;
    --navy50: #ecf2ff;
    --blue800: #1125d6;
    --blue50: #f3f4fd;
    --yellow400: #ffb21e;
    --yellow50: #fffbf4;
    --red400: #ff5555;
    --red50: #fff6f6;
    --green500: #00bb8f;
    --green50: #f2fcf9;
    --gradient1: linear-gradient(to bottom, #4d21c9, #2521c911);
    --gradient2: linear-gradient(#7755ff, #2f2ce9);
}

html {
    box-sizing: border-box;
    font-size: 1rem;
    
}

body { 
    font-family: var(--font-sans);
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    background-color: var(--white);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.results {
    width: 100%;
    background: var(--gradient2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 1.5rem;
    padding-block-end: 2rem;
    border-radius: 0 0 2.5rem 2.5rem;
}

.your-result {
    margin: 2rem auto 0 auto; 
    font-size: 1.2rem;
    color: var(--navy200)
}

.score {
    background: var(--gradient1);
    width: 9rem;    /* is there a better way to shape this circle? */
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.your-score {
    font-size: 4rem;
    margin: -0.5rem;  /* should I use -margin or line-height? any different options? */
    /* line-height: 4rem; */ /* how else could I get rid of the gap between .your-score and .out-of? default gap is barely too big */
    color: var(--white)
}

.out-of, .comparing {
    font-size: 1rem;
    color: var(--navy200);
}
.out-of {
    opacity: 50%;
}

.congrats {  
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    max-width: 20rem;
    margin: 0 auto;
    gap: 0.8rem;
}

.great {
    font-size: 1.5rem;
    color: var(--white)
}

.comparing {
    font-weight: 400;
}

.text-summary {
    width: 85%;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 1rem;
    gap: 1.5rem;
}

.summary {
    font-size: 1.2rem;
    padding-top: 2rem;
    color: var(--navy950);
}

.sec-bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 0;
}

.sec-bars > li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.sec-bars p {
    font-size: 1.1rem;
}

.cat-score {
    color: var(--navy950);
    font-weight: 600;
}

.reaction {
    background-color: var(--red50);
    color: var(--red400)
}
.memory {
    background-color: var(--yellow50);
    color: var(--yellow400);
}
.verbal {
    background-color: var(--green50);
    color: var(--green500);
}
.visual {
    background-color: var(--blue50);
    color: var(--blue800)
}

.left {
    display: flex; /* insures the section logo and h2 stay next to each other and voids the space between on the sec-bars */
    gap: 0.5rem;
}

.sec-bars span {
    opacity: 50%;
}

.continue {
    width: 100%;
    background-color: var(--navy950);
    border: none;
    font-size: 1.2rem;
    padding: 1.2rem;
    color: var(--white);
    border-radius: 5rem;
}

@media screen and (min-width: 750px) {
    html { 
        font-size: 1.1rem;
    }
    body {
        background-color: var(--blue50);
        min-height: 100vh; /* use min-height only when neccessary but I've heard avoid vh. is this an apporpiate time to use vh? I need 100vh to center vertically on big screens */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 45rem;
        flex-direction: row;
        border-radius: 2.5rem;
    }

    .score {
        width: 12rem;
    }

    .results {
        max-width: 22rem;
        border-radius: 2.5rem;
        
    }

    .text-summary {
        padding: 1.5rem
    }

    .continue:hover {
        background: var(--gradient2) ;
    }
} 